[Desktop Entry]
Name=Figma
Exec=brave --app=https://www.figma.com --ozone-platform=wayland --enable-features=WaylandWindowDecorations --disable-features=TranslateUI --no-default-browser-check --disable-background-networking --disable-sync --disable-plugins-discovery --disable-extensions
Icon=Figma
Type=Application
StartupWMClass=Brave-browser

