[Desktop Entry]
Name=Reddit
Exec=brave --app=https://www.reddit.com --ozone-platform=wayland --enable-features=WaylandWindowDecorations --disable-features=TranslateUI --no-default-browser-check --disable-background-networking --disable-sync --disable-plugins-discovery --disable-extensions
Icon=reddit
Type=Application
StartupWMClass=Brave-browser

