[Desktop Entry]
Name=X (Twitter)
Exec=brave --app=https://www.x.com --ozone-platform=wayland --enable-features=WaylandWindowDecorations --disable-features=TranslateUI --no-default-browser-check --disable-background-networking --disable-sync --disable-plugins-discovery --disable-extensions
Icon=x
Type=Application
StartupWMClass=Brave-browser

